@model IEnumerable<StudyMaterialOrganiser.ViewModels.TagVM>

<h1>Tags</h1>
<a asp-action="Create" class="mt-1 btn btn-primary">+Create New Tag</a>
<table class="table">
    <thead>
        <tr>
           
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td>@tag.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tag.Id" class="btn btn-secondary">Edit</a>
                    <form asp-action="Delete" asp-route-id="@tag.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
