# ===== Configuration Files =====
src/main/resources/config/db.properties
src/main/resources/config/repository.properties
src/main/resources/config/Database.sql

# ===== IDE and Editor Specific =====
.vs/
.idea/
*.vsidx

# ===== Build Artifacts =====
**/bin/
**/obj/
**/target/
**/Debug/
**/Release/

# ===== User-Specific Files =====
*.user
*.suo
*.userosscache
*.sln.docstates
*.log

# ===== Miscellaneous =====
apphost.exe