@{
    ViewData["Title"] = "Materials";
}

<div class="container py-4">
    <h1 class="display-6">Materials</h1>
    <div class="text-end">
        <a class="btn btn-primary" asp-action="Create" asp-controller="Material">Add Material</a>
        <a class="btn btn-primary" asp-action="List" asp-controller="Material">List Materials</a>
    </div>