@{
	ViewData["Title"] = "Join Our Study Group Organizer!";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/site.css" />

<div class="content">
	<div class="image-placeholder">
		<img src="@Url.Content("~/images/study_group.png")" alt="Study Group Picture">
	</div>
	<div class="text-content">
		<h1>Hajmo Delati!</h1>
		<p>Welcome to our Study Group Organizer – your go-to platform for sharing study materials, joining study groups, and connecting with fellow students.</p>
		<ul>
			<li><strong>Share Knowledge:</strong> Upload and access a wealth of study materials contributed by students like you.</li>
			<li><strong>Join Groups:</strong> Collaborate with peers in dedicated study groups tailored to your interests and courses.</li>
			<li><strong>Connect:</strong> Build friendships, share ideas, and grow your network within a supportive student community.</li>
		</ul>
		<p>Take the first step towards a more engaging and collaborative learning journey. Click below to get started!</p>
		
	</div>
</div>