@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center py-5">
    <h1 class="display-4">Welcome to Study Material Organiser</h1>
    <button class="btn btn-primary mt-4" onclick="location.href='@Url.Action("MaterialsPage", "Home")'">Go to Materials Page</button>
</div>
